# Assignment - Evaluating data source

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics as sts
%matplotlib inline

Drill
In each of the scenarios, find possible shortcomings of the theoretical or actual data sources to answer the given question. What could be done to either adjust the analysis or reframe the question so that you can answer it accurately?

Q1. Data Source: Amsterdam availability data scraped from AirBnB on December 24th. Question: What are the popular neighborhoods in Amsterdam?

Q2. Data Source: Mental health services use on September 12, 2001 in San Francisco, CA and New York City, NY. Question: How do patterns of mental health service use vary between cities?

Q3. Data Source: Armenian Pub Survey. Question: What are the most common reasons Armenians visit local pubs?

In [20]:
#Let's start by reading the dataset from the Kagger
df = pd.read_excel('data/armenian_pubs.xlsx')
df.sample(5)

,Timestamp,Age,Gender,Income,Occupation,Fave_Pub,WTS,Freq,Prim_lmp,Sec_lmp,Stratum,Lifestyle,Occation
134,2017/03/01 11:53:23 PM GMT+4,20,Female,60000.0,Student,Calumet,2000.0,rarely (once two week/or a month),Environment,Menu,Urban,"Busy(student life, work)",Hang outs with friends
45,2017/02/25 11:20:22 PM GMT+4,41,Female,100000.0,Working,Calumet,10000.0,rarely (once two week/or a month),Music,Environment,Capital,"Busy(student life, work)",Hang outs with friends
72,2017/02/26 12:52:33 AM GMT+4,25,Male,400000.0,Working,Red bull,5000.0,Several times in a month,Environment,Pricing,Capital,"Busy(student life, work)",Hang outs with friends
82,2017/02/26 2:15:26 AM GMT+4,25,Male,240000.0,Working,Barcode,2000.0,Several times in a month,Environment,Music,Capital,"Busy(student life, work)",Hang outs with friends
173,2017/03/03 8:59:05 PM GMT+4,20,Female,80000.0,Student + working,Tom Collins,5000.0,rarely (once two week/or a month),Environment,Music,Capital,"Busy(student life, work)",Hang outs with friends

In [27]:
df.groupby('Gender').describe()

          Age                                                    Income  \
        count       mean       std   min   25%   50%   75%   max  count
Gender
Female  102.0  19.411765  2.633948  16.0  18.0  19.0  20.0  41.0  102.0
Male     73.0  19.739726  2.958169  16.0  18.0  19.0  20.0  39.0   72.0

                        ...                            WTS               \
                 mean   ...          75%        max  count         mean
Gender                  ...
Female   63435.294118   ...      80000.0   700000.0  100.0  4030.000000
Male    176444.444444   ...     150000.0  4500000.0   72.0  5944.444444


                std  min     25%     50%     75%      max
Gender
Female  3678.232448  0.0  2000.0  3000.0  5000.0  30000.0
Male    4899.378773  0.0  3000.0  5000.0  7000.0  25000.0

[2 rows x 24 columns]

In order to find the most common reason armenians go to put, we have to collect the most frequent reasons ( Mod ) from Occations column and return a few of the common strings

In [46]:
Mod_reason = df['Occation'].value_counts()
Mod_reason

Hang outs with friends      138
Special events/parties       16
Birthdays                    14
Never                         2
For listening good music      1
chem aycelum                  1
Nowere                        1
Name: Occation, dtype: int64

Summary: As we can see from a total of 73 male and 102 female survey participants, more than 3/4 of the participants go to pub to "Hange out with friends". And the next frequent reason is "Special Events/parties"(16) and "Birthdays" at(14). The rest of the uantity is negligeable compared to the total dataset.

In [61]:
Mod_reason_percent = ( Mod_reason.sum() - Mod_reason.max())/Mod_reason.max()
print('The percentage of the most frequent reason is {}%.'.format(round(Mod_reason_percent*100),2))

The percentage of the most frequent reason is 25.0%.

In [69]:
#Finally, lets look at the geneder gup of the people with most common reason
Mod_reason_gender = df.groupby('Occation')['Gender'].value_counts()
Mod_reason_gender

Occation                  Gender
Birthdays                 Female    12
                          Male       2
For listening good music  Female     1
Hang outs with friends    Female    75
                          Male      63
Never                     Female     1
                          Male       1
Nowere                    Female     1
Special events/parties    Female    12
                          Male       4
chem aycelum              Male       1
Name: Gender, dtype: int64