# The brady kids age age analysis based on their age when they entered the show and other times durint the show

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics as sts
%matplotlib inline

df = pd.DataFrame()
df['Name'] = ['Greg','Marcia','Peter','Jan','Bobby','Cindy','Cousin Oliver']
df['Age'] = [14,12,11,10,8,6,8]
df

            Name  Age
0           Greg   14
1         Marcia   12
2          Peter   11
3            Jan   10
4          Bobby    8
5          Cindy    6
6  Cousin Oliver    8

The bottom 4 lines of code demonstrates the central tendencys of the data series from the brady kids including "Cousin Olivia"
The mean, mode and meadian of their age is calculated using the pandas and numpy libraries.

Q1. Greg was 14, Marcia was 12, Peter was 11, Jan was 10, Bobby was 8, and Cindy was 6 when they started playing the Brady kids on The Brady Bunch. Cousin Oliver was 8 years old when he joined the show. What are the mean, median, and mode of the kids' ages when they first appeared on the show? What are the variance, standard deviation, and standard error?

In [4]:
mean = np.mean(df)
mod = sts.mode(df['Age'])
median = df['Age'].median()
print("Mean : ",mean, "Mode : ",mod, "Median : ",median)

Mean :  Age    9.857143
dtype: float64 Mode :  8 Median :  10.0

Calculating the Variance of the data series

In [5]:
variance = df['Age'].var()
st_dev = df['Age'].std()
st_err = df.sem(axis=0)
print("Variance :",variance, "Standard_deviasion : ",st_dev, "Standard_error : ", st_err )

Variance : 7.476190476190475 Standard_deviasion :  2.734262327610589 Standard_error :  Age    1.033454
dtype: float64

Q2. Using these estimates, if you had to choose only one estimate of central tendency and one estimate of variance to describe the data, which would you pick and why?

We can see that the average age difference between the kids is around 2 except between Marcia, Peter and Jan. 
This change alters the standart error to be lower than expected. The mean mode and mdeian do give us much simpler insight in to
the dataset but i believe i do like how the kids age is varied. I chose variance specially standard to describe the age variance

Q3. Next, Cindy has a birthday. Update your estimates- what changed, and what didn't?

In [3]:
df.loc[df['Name'] == 'Cindy', 'Age']=9
df1 = df
df1

            Name  Age
0           Greg   14
1         Marcia   12
2          Peter   11
3            Jan   10
4          Bobby    8
5          Cindy    9
6  Cousin Oliver    8

In [30]:
print( "Mean : ",np.mean(df1), "Mode : ",sts.mode(df1['Age']), "Median : ",df1['Age'].median())

Mean :  Series([], dtype: float64) Mode :  8 Median :  10.0

In [40]:
print("Variance :{} Standard_deviasion : {} Standard_error : {}".format(df1['Age'].var(),df1['Age'].std(),df1.sem(axis=0)))

Variance :4.904761904761904 Standard_deviasion : 2.2146697055682827 Standard_error : Series([], dtype: float64)

Q4. Nobody likes Cousin Oliver. Maybe the network should have used an even younger actor. Replace Cousin Oliver with 1-year-old Jessica, then recalculate again. Does this change your choice of central tendency or variance estimation methods?

In [6]:
df.loc[df1['Name'] == 'Cousin Oliver', 'Name']= 'Jessica'
df.loc[df1['Name'] == 'Jessica', 'Age']=1
df1

      Name  Age
0     Greg   14
1   Marcia   12
2    Peter   11
3      Jan   10
4    Bobby    8
5    Cindy    9
6  Jessica    1

In [8]:
print( "Mean : ",np.mean(df1), "Mode : " , "Median : ",df1['Age'].median())

Mean :  Age    9.285714
dtype: float64 Mode :  Median :  10.0

In [12]:
print("Variance :{} Standard_deviasion : {} Standard_error : {}".format(df1['Age'].var(),df1['Age'].std(),df1.sem(axis=0)))

Variance :17.238095238095237 Standard_deviasion : 4.15187851918806 Standard_error : Age    1.569263
dtype: float64

    The values of Standard deviasion and standard_error changes much smaller than the variance values and central tendency values. Since only Cousin Oliver's name and age has been changed to Jessica, the data set should not have to change that much and that's what we're seing with std and std_err. In this case, it may be wiser to use std and std_err values to tell insits in to a data set.

Q5. On the 50th anniversary of The Brady Bunch, four different magazines asked their readers whether they were fans of the show. The answers were: TV Guide 20% fans Entertainment Weekly 23% fans Pop Culture Today 17% fans SciPhi Phanatic 5% fans.  Based on these numbers, what percentage of adult Americans would you estimate were Brady Bunch fans on the 50th anniversary of the show?

In [15]:
df2 = pd.DataFrame()
df2['TV Fans'] = ['TV Guide','Entertainment Weekly','Pop Culture Today','SciPhi Phanatic']
df2['Percentile'] = [20,23,17,5]
df2

                TV Fans  Percentile
0              TV Guide          20
1  Entertainment Weekly          23
2     Pop Culture Today          17
3       SciPhi Phanatic           5

By just glancing at the dataset, the two most catagories are TV Guide and Entertainment weekly.

In [19]:
df2['Percentile'].std()

7.88986691902975

In [21]:
print("Variance :{} Standard_deviasion : {} Standard_error : {}".format(df2['Percentile'].var(),df2['Percentile'].std(),df2.sem(axis=0)))

Variance :62.25 Standard_deviasion : 7.88986691902975 Standard_error : Percentile    3.944933
dtype: float64

In [29]:
sum_of_two_larges = sum(df2['Percentile'][[0] +[1]])
sum_of_two_larges

43

In [32]:
percentage_of_two_larges = (sum_of_two_larges)/(df2['Percentile'].sum())*100
percentage_of_two_larges

66.15384615384615

As we can see that, the percentage of these two catagories are much more than have of the total polulation. Normally, more Adult customer use these two large catagories and its safe to say, more adult viewers used at the 50th year aniversary.